<div class="w-100">
  <table
    columnResize
    matSort
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container
      *ngFor="let column of columns; let i = index"
      [matColumnDef]="column.field"
    >
      <th  cdkDrag mat-header-cell *matHeaderCellDef>
        <dynamic-table-header>
          <div mat-sort-header>{{ column.headerName }}</div>
        </dynamic-table-header>
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column.field] }}</td>
    </ng-container>
    <!--
      Custom template rendering
    -->
    <ng-container
      *ngFor="let column of columnDefs; let i = index"
      [matColumnDef]="column.field"
    >
      <th  cdkDrag mat-header-cell *matHeaderCellDef >
        <dynamic-table-header>
          <div mat-sort-header>
            <ng-container  *ngTemplateOutlet="column.dynamicHeaderCellDefDirective?.template; context: {$implicit: column.column, column: column.column}" ></ng-container>
          </div>
        </dynamic-table-header>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngTemplateOutlet="column.dynamicCellDefDirective?.template; context: {$implicit: element, column: column.column}" ></ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  <div></div>
</div>
